@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

@font-face {
    font-family: TTFont-Light;
    src: url("font/TT\ Commons\ Light.otf");
}

@font-face {
    font-family: TTFont-Normal;
    src: url("font/TT\ Commons\ Regular.otf");
}

@font-face {
    font-family: TTFont;
    src: url("font/TT\ Commons\ Medium.otf");
}

@font-face {
    font-family: TTFont-Bold;
    src: url("font/TT\ Commons\ Bold.otf");
}

@font-face {
    font-family: Title;
    src: url("font/Poppins-Bold.ttf");
}

@font-face {
    font-family: ContentText;
    src: url("font/WorkSans-Regular.ttf");
}

.text-number {
    font-family: "Title";
    display: inline-block;
    width: 100%;
    font-size: 1.25rem;
}

.text-title {
    font-family: "Title";
    font-size: 3rem;

}

.text-content {
    font-family: "ContentText";
    
}

.bg-beige {
    background-color: #F9F2ED;
}

.text-red {
    color: #F87474;
}

.text-blue {
    color: #3AB0FF;
}

/* Nav styling

*/

.active-page {
    color: #fec400!important;
}

.event-type {
    position: absolute;
    left: 0;
    top: 0;
}

.event-line {
    width: 25%;
    margin-right: auto;
    margin-left: auto;
}

.profile-line {
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


.nav-link {
    padding: 25px 5px;
    transition: 0.2s
}

.program-btn {
    padding: 25vh 0;
}

.redirect {
    margin: 0;
    padding: 0;
    color: black;
}


.count-body {
    background-image: url("images/fjell.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 95vh;
    color: white;
    margin: 0;
    
}

.event {
    min-height: 450px;
    
}

.card img {
    
        float:initial;
        width: 500px;
        height: 175px;
        object-fit: cover;

}

.text-color {
    color: #4646a5;
}

.bg-color {
    background-color: #4646a5;
}

.program-text {
    font-family: "TTFont-Light";
}

.navfont-text {
    font-family: "TTFont-Normal";
}

.landing-text {
    font-family: "TTFont-Bold";
    text-transform: uppercase;
}

.f-text {
    font-family: "TTFont";
    font-weight: normal!important;
}

.f-eiendomegling {
    background-color: #87ceeb;
}

.quote-eiendom {
    color: #87ceeb;
}

.quote-pink {
    color: palevioletred;
}

.f-markedsforing {
    background-color: palevioletred;
}

.f-innovasjon {
    background-color: yellow;
}

.quote-innovasjon {
    color: yellow;
}

.f-kulturledelse {
    background-color: #d0312d;
}

.f-idrett {
    background-color: orange;
}

.f-okonomi {
    background-color: #3944BC;
}

.f-it {
    background-color: purple;
}

.quote-it {
    color: purple;
}

.f-natur {
    background-color: green;
}

.f-international {
    background-color: burlywood;
}



.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}


.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.big-text {
    font-weight: bold;
    font-family: "arial";
    font-size: 6vw;
    line-height: 1;
    margin: 1rem 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 2vh;
}

.stepitem {
    width: 314px;
    height: 150px;
    transition: .4s;
    display: inline-block;
}

.stepitem:hover {
    transform: scale(1.03);
}

.faddergrupper {
    min-height: 350px;
}

.faddergrupper img {
    filter: grayscale(0.2);
}

.circlesstyle {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.circlesstyle li {
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background: rgb(172, 13, 13, 0.1);
	animation: animate 25s linear infinite;
	bottom: calc(-150px - 40vh);
}

.circlesstyle li:nth-child(1) {
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
	animation-duration: 20s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(47, 44, 92, 0.3);
}

.circlesstyle li:nth-child(2) {
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
	animation-duration: 25s;
	border-radius: 50%;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
	border-top-left-radius: 0 !important;
	background: rgba(96, 183, 199, 0.3);
}

.circlesstyle li:nth-child(3) {
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
	animation-duration: 20s;
	border-radius: 50%;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	border-top-left-radius: 0 !important;
	background: rgba(47, 44, 92, 0.3);
}

.circlesstyle li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 15s;
	border-radius: 50%;
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
	border-top-left-radius: 0 !important;
	background: rgba(114, 63, 145, 0.3);
}

.circlesstyle li:nth-child(5) {
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
	animation-duration: 20s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(96, 183, 199, 0.3);
}

.circlesstyle li:nth-child(6) {
	left: 75%;
	width: 90px;
	height: 90px;
	animation-delay: 0s;
	animation-duration: 25s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(114, 63, 145, 0.3);
}

.circlesstyle li:nth-child(7) {
	left: 35%;
	width: 50px;
	height: 50px;
	animation-delay: 0s;
	animation-duration: 30s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(47, 44, 92, 0.3);
}

.circlesstyle li:nth-child(8) {
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 0s;
	animation-duration: 35s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(114, 63, 145, 0.3);
}

.circlesstyle li:nth-child(9) {
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 0s;
	animation-duration: 40s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(47, 44, 92, 0.3);
}

.circlesstyle li:nth-child(10) {
	left: 85%;
	width: 50px;
	height: 50px;
	animation-delay: 0s;
	animation-duration: 45s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(96, 183, 199, 0.3);
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 0;
	}
	50% {
		transform: translateY(-60vh) rotate(360deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-120vh) rotate(720deg);
		opacity: 0;
	}
}

.circlesfloat {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.circlesfloat li {
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background: rgb(172, 13, 13, 0.1);
	animation: animate 25s linear infinite;
	bottom: calc(-150px - 40vh);
}

.circlesfloat li:nth-child(1) {
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
	animation-duration: 20s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(47, 44, 92, 0.3);
}

.circlesfloat li:nth-child(2) {
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
	animation-duration: 25s;
	border-radius: 50%;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
	border-top-left-radius: 0 !important;
	background: rgba(96, 183, 199, 0.3);
}

.circlesfloat li:nth-child(3) {
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
	animation-duration: 20s;
	border-radius: 50%;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	border-top-left-radius: 0 !important;
	background: rgba(47, 44, 92, 0.3);
}

.circlesfloat li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 15s;
	border-radius: 50%;
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
	border-top-left-radius: 0 !important;
	background: rgba(114, 63, 145, 0.3);
}

.circlesfloat li:nth-child(5) {
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
	animation-duration: 20s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(96, 183, 199, 0.3);
}

.circlesfloat li:nth-child(6) {
	left: 75%;
	width: 90px;
	height: 90px;
	animation-delay: 0s;
	animation-duration: 25s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(114, 63, 145, 0.3);
}

.circlesfloat li:nth-child(7) {
	left: 35%;
	width: 50px;
	height: 50px;
	animation-delay: 0s;
	animation-duration: 30s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(47, 44, 92, 0.3);
}

.circlesfloat li:nth-child(8) {
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 0s;
	animation-duration: 35s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(114, 63, 145, 0.3);
}

.circlesfloat li:nth-child(9) {
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 0s;
	animation-duration: 40s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(47, 44, 92, 0.3);
}

.circlesfloat li:nth-child(10) {
	left: 85%;
	width: 50px;
	height: 50px;
	animation-delay: 0s;
	animation-duration: 45s;
	border-radius: 50%;
	border-top-left-radius: 0 !important;
	background: rgba(96, 183, 199, 0.3);
}


table thead {
    position: sticky;
    inset-block-start: 0;
}

.box{
    font-family: 'Raleway', sans-serif;
    position: relative;
    overflow: hidden;
}
.box:before,
.box:after{
    content: "";
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 50%;
    transform-origin: left;
    transform: scaleX(0);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s cubic-bezier(0.66, 0.08, 0.19, 0.97);
}
.box:after{
    top: auto;
    bottom: 0;
    transition-delay: 0.15s;
}
.box:hover:before,
.box:hover:after{
    transform: scaleX(1);
}
.box img{
    width: 100%;
    height: auto;
}
.box .box-content{
    color: #fff;
    width: 100%;
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.box .title{
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 3px;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.3s ease 0s;
}
.box .post{
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1px;
    text-transform: capitalize;
    display: block;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.3s ease 0.15s;
}
.box:hover .title,
.box:hover .post{
    opacity: 1;
    transform: translateY(0);
}
.box .icon{
    padding: 0;
    margin: 0 0 10px;
    list-style: none;
}
.box .icon li{
    margin: 0 6px 0 0;
    display: inline-block;
    opacity: 0;
    transform: rotateX(90deg);
    transition: all .3s ease-in-out 0.2s;
}
.box .icon li:nth-child(2){ transition-delay: 0.3s; }
.box:hover .icon li{
    opacity: 1;
    transform: rotateX(0deg);
}
.box .icon li a{
    color: #f3004b;
    background: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 34px;
    height: 34px;
    width: 34px;
    display: block;
    transition: all .3s ease-in-out;
}
.box .icon li a:hover{
    color: #fff;
    background: #f3004b;
    border-radius: 10px 10px;
}
@media only screen and (max-width:990px){
    .box{ margin: 0 0 30px; }
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
  
  .hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    -ms-transform: scale(0,1);
    transform: scale(0,1);
  }
  
  .hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  .hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  
  .hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    background-color: transparent;
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
  }
  
  .hovereffect a, .hovereffect p {
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
  }
  
  .hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  @media only screen and (max-width: 991px) {
    .col-del {
      display: none;
    }
  }